<script>
    window.addEventListener('load', e => {
      forms = document.querySelectorAll('.shops')
      forms.forEach((form) => {
        inputs = form.getElementsByTagName("input");

        for (let input of inputs) {
          input.addEventListener('change', e => {
            e.preventDefault();

            form = e.target.parentNode;
            cartitempk = form.dataset.cartitempk;
            productinfopk = e.target.dataset.productinfopk;

            fetch(`{% url 'change_productinfo' %}?productinfopk=${productinfopk}&cartitempk=${cartitempk}`, {
              method: 'GET',
            }).then((res) => {
              return res.json();
            }).then((data) => {
              inputs = e.target.parentNode.querySelectorAll('input')
              for (let input of inputs) {
                if (input == e.target) {
                  console.log(input);
                  input.setAttribute('checked', 'checked');
                  input.checked = true;
                } else {
                  input.removeAttribute('checked');
                }
              }
            })
          });
        };
      });
    });
</script>