<!DOCTYPE html>{% load staticfiles %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
  {% block import %}{% endblock %}
</head>
<body>
  <header>
    <div class="center">
      <div class="col ralign">
        <div class="buttons">
          <a href="{% url 'cart' %}">Корзина</a>
        </div>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="center">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>