{% extends "./_base.html" %}
{% load staticfiles %}
{% load sort_by_price %}

{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<main role="main">
  <div class="container mt-3">

    <div class="row">
      <div class="col-md-12">
        <div class="left" style="display: inline-block; width: 20%">
          <img src="{% static product.image.url %}" width="120">
        </div>
        <div class="right" style="display: inline-block;">
          <h2>{{ product.name|title }}</h2>
          <p>{{ product.description }}</p>

          <p><b>Доступные предложения:</b></p>
          {% for productinfo in product.productinfo_set.all|sort_by_price %}
            <div style="border: 1px solid">
              <div class="price">
              <h2 style="display: inline-block">{{ productinfo.shop }}</h2>
              <p style="display: inline-block"> - {{ productinfo.price }} руб.</p>
              {% if request.user.is_authenticated %}
              <form method="post" action="#" style="display: inline-block;">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary add-to-cart" data-productinfopk="{{productinfo.pk}}" value="Добавить в корзину »">
              </form>
              {% else %}
              <p>Вы не авторизованы! Чтобы продолжить покупки
                <a href="{% url 'login' %}">войдите</a> или
                <a href="{% url 'registration' %}">зарегистрируйтесь</a>.</p>
              {% endif%}
              </div>
              <p>Параметры:</p>
              <table class="parameters">
                {% for productparameter in productinfo.productparameter_set.all %}
                <tr>
                  <td><p style="display: inline-block">{{ productparameter.parameter.name }}</p></td>
                  <td><p style="display: inline-block">{{ productparameter.value }}</p></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

</main>

{% include "./includes/add_to_cart_script.html" %}
{% endblock %}